.what-i-work-with {
  /* background: var(--very-light-blue-color); */
  padding: 30px 0 130px 0;
}

.what-i-work-with .content {
  display: flex;

  padding: 40px 0 0 0;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}

.what-i-work-with .content div {
  flex: 1 1 0px;
}

.what-i-work-with h4 {
  text-align: center;
}

.what-i-work-with .request ul {
  padding-left: 40px;
  padding-top: 10px;
}

.what-i-work-with .request {
  /* width: 33%; */
  margin-bottom: 40px;
  flex: 1 1 30%;
  position: relative;
  padding-left: 130px;
}

.what-i-work-with .relationships::before {
  content: "";
  background: url("/img/icons/what-i-work-with/relationship.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px +550px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .emotions::before {
  content: "";
  background: url("/img/icons/what-i-work-with/emotions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .conditions::before {
  content: "";
  background: url("/img/icons/what-i-work-with/conditions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .self-esteem::before {
  content: "";
  background: url("/img/icons/what-i-work-with/self-esteem.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .addictions::before {
  content: "";
  background: url("/img/icons/what-i-work-with/addictions.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
  transform: rotate(-30deg);
}

.what-i-work-with .disorders::before {
  content: "";
  background: url("/img/icons/what-i-work-with/disorders.svg");
  display: block;
  width: 64px;
  height: 64px;
  position: absolute;
  top: calc(50% - 32px + 15px);
  /* calc(100% + 35px + 50px); */
  left: 50px;
  background-repeat: no-repeat;
}

.what-i-work-with .request ul li {
  list-style: none;
  padding: 4px 0 4px 22px;
  font-family: var(--font-lora), serif;
  line-height: 150%;
  position: relative;
  font-size: 16px;
}

.what-i-work-with .request ul li::before {
  content: "";
  display: inline-block;
  height: 13px;
  width: 15px;
  background-image: url(/img/icons/ui/tick.svg);
  position: absolute;
  top: 10px;
  left: 0px;
}

/*---------------------------------- < 760 px ----------------------------------------------*/
@media only screen and (max-width: 760px) {
  .what-i-work-with {
    padding: 0 20px;
  }

  .what-i-work-with .content div {
    flex: 1 1 100%;
    padding-left: 20%;
  }

  .what-i-work-with .request {
    padding-left: 60px;
  }

  .what-i-work-with .request ul {
    padding-left: 40px;
  }

  .what-i-work-with .request::before {
    left: 0px;
  }

  /* .what-i-work-with .content div {
    padding-left: 0;
  } */

  .what-i-work-with .content > div {
    padding: 0;
  }
}
