.navBar {
  display: flex;
  padding: 20px 20px;

  background-color: var(--very-dark-red-color);
  color: #fff;
  justify-content: space-between;
  align-items: center;
}

.logoutButton {
  color: rgb(255, 0, 0);
}

.navBar h3 {
  font-size: 20px;
}

.topMenuLink {
  color: #fff;
}

.menuItems {
  display: flex;
  gap: 20px;
}

.active {
  text-decoration: underline;
}

/*---------------------------------- < 760 px ----------------------------------------------*/

@media only screen and (max-width: 760px) {
  .navBar {
    flex-direction: column;
    gap: 20px;
  }

  .menuItems {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
