.hero-section {
  padding-top: 90px;
  padding-bottom: 130px;
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero-section div {
  flex: 1;
  /* width: 50%; */
}

.hero-section .left img {
  /* height: 70vh; */
  /* max-width: 100%; */
  object-fit: contain;
}

/* .hero-section .left {
  background-color: gray;
  position: relative;
  
} */

.hero-section .right {
  font-family: var(--font-lora), serif;
  font-size: 20px;
  line-height: 170%;
}

.buttonWrapper {
  margin-top: 30px;
}

/*---------------------------------- < 1134 px ----------------------------------------------*/
@media only screen and (max-width: 1134px) {
  .hero-section {
    /* padding: 0 50px; */
    flex-direction: column;
    gap: 50px;
    height: unset;
  }
}

@media only screen and (max-width: 760px) {
  .hero-section .right {
    font-size: 16px;
    padding: 0 20px;
  }

  /* .hero-section div {
    padding: 0 20px;
  } */
}
